<ion-view title="Login" id="page5">
  <ion-content padding="true" class="has-header">
    <form id="login-form3" class="list">
      <ion-list id="login-list2">
        <label class="item item-input" id="login-input7">
          <span class="input-label">Username</span>
          <input type="text" placeholder="">
        </label>
        <label class="item item-input" id="login-input8">
          <span class="input-label">Password</span>
          <input type="password" placeholder="">
        </label>
      </ion-list>
      <div class="spacer" style="height: 40px;"></div>
      <a ui-sref="page1.page2" id="login-button9" class="button button-balanced  button-block">Log in</a>
    </form>
    <a ui-sref="signup" id="login-button12" class="button button-calm  button-block">Sing Up!!</a>
  </ion-content>
</ion-view>