<ion-view title="Post" id="page8">
  <ion-content padding="true" class="has-header">
    <form id="post-form5" class="list">
      <label class="item item-input" id="post-textarea1">
        <span class="input-label">คุณคิดอะไรอยู่...</span><textarea placeholder=""></textarea></label>
    </form>
    <div id="post-button-bar2" class="button-bar">
      <button id="post-button16" class="button button-energized  button-block icon ion-images"></button>
      <button id="post-button17" class="button button-balanced  button-block icon ion-ios-camera"></button>
      <button id="post-button18" class="button button-calm  button-block icon ion-ios-location"></button>
    </div>
    <a ui-sref="page1.page2" id="post-button19" class="button button-positive  button-block">POST ME</a>
  </ion-content>
</ion-view>